#
# This systemd unit starts a prometheus instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Prometheus server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/prometheus.pid %t/prometheus.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/prometheus.pid \
    --cidfile=%t/prometheus.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:9090 \
    --network=slirp4netns:allow_host_loopback=true --add-host=node:10.0.2.2 \
    --volume=%S/state/prometheus.yml:/prometheus/prometheus.yml:z \
    --volume=prometheus-data:/prometheus:z \
    ${PROMETHEUS_IMAGE} --web.external-url=/${PROMETHEUS_PATH}/
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/prometheus.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/prometheus.ctr-id
PIDFile=%t/prometheus.pid
Type=forking

[Install]
WantedBy=default.target
